<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
	default-lazy-init="true">

	<context:property-placeholder location="classpath:shopxx.properties"
		ignore-resource-not-found="true" ignore-unresolvable="true" />

	<context:component-scan base-package="net.shopxx"/>
	
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${jdbc.driver}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="initialPoolSize" value="${connection_pools.initial_pool_size}" />
		<property name="minPoolSize" value="${connection_pools.min_pool_size}" />
		<property name="maxPoolSize" value="${connection_pools.max_pool_size}" />
		<property name="maxIdleTime" value="${connection_pools.max_idle_time}" />
		<property name="acquireIncrement" value="${connection_pools.acquire_increment}" />
		<property name="checkoutTimeout" value="${connection_pools.checkout_timeout}" />
	</bean>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan">
			<list>
				<value>net.shopxx.entity</value>
				<value>net.shopxx.plugin</value>
			</list>
		</property>
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="false" />
				<property name="generateDdl" value="false" />
			</bean>
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.cache.use_second_level_cache">${hibernate.cache.use_second_level_cache}</prop>
				<prop key="hibernate.cache.region.factory_class">${hibernate.cache.region.factory_class}</prop>
				<prop key="hibernate.cache.use_query_cache">${hibernate.cache.use_query_cache}</prop>
				<prop key="hibernate.jdbc.fetch_size">${hibernate.jdbc.fetch_size}</prop>
				<prop key="hibernate.jdbc.batch_size">${hibernate.jdbc.batch_size}</prop>
				<prop key="hibernate.connection.isolation">2</prop>
				<prop key="hibernate.connection.release_mode">on_close</prop>
				<prop key="javax.persistence.validation.mode">none</prop>
				<!--
				<prop key="hibernate.search.analyzer">net.shopxx.AnsjAnalyzer</prop>
				<prop key="hibernate.search.default.directory_provider">filesystem</prop>
				<prop key="hibernate.search.default.indexBase">${java.io.tmpdir}/shopxx_index</prop>
				<prop key="hibernate.search.lucene_version">LUCENE_55</prop>
				-->
				<prop key="hibernate.search.default.indexmanager">elasticsearch</prop>
				<prop key="hibernate.search.default.elasticsearch.host">${hibernate.search.es_host}</prop>
				<prop key="hibernate.search.default.elasticsearch.required_index_status">yellow</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<bean id="transactionTemplate"
		class="org.springframework.transaction.support.TransactionTemplate">
		<property name="transactionManager" ref="transactionManager" />
	</bean>

	<bean id="readOnlyTransactionTemplate"
		class="org.springframework.transaction.support.TransactionTemplate">
		<property name="transactionManager" ref="transactionManager" />
		<property name="readOnly" value="true" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="cacheSeconds" value="${message.cache_seconds}" />
		<property name="useCodeAsDefaultMessage" value="true" />
		<property name="basenames" value="${message.basenames}" />
	</bean>

	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.FixedLocaleResolver" />

	<bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">
		<property name="config">
			<bean class="com.google.code.kaptcha.util.Config">
				<constructor-arg>
					<props>
						<prop key="kaptcha.border">no</prop>
						<prop key="kaptcha.image.width">${captcha.imageWidth}</prop>
						<prop key="kaptcha.image.height">${captcha.imageHeight}</prop>
						<prop key="kaptcha.textproducer.char.string">${captcha.charString}</prop>
						<prop key="kaptcha.textproducer.char.length">${captcha.charLength}</prop>
						<prop key="kaptcha.textproducer.char.space">${captcha.charSpace}</prop>
						<prop key="kaptcha.textproducer.font.color">${captcha.fontColor}</prop>
						<prop key="kaptcha.textproducer.font.size">${captcha.fontSize}</prop>
						<prop key="kaptcha.noise.impl">com.google.code.kaptcha.impl.NoNoise</prop>
						<prop key="kaptcha.obscurificator.impl">com.google.code.kaptcha.impl.ShadowGimpy</prop>
						<prop key="kaptcha.background.impl">net.shopxx.captcha.CaptchaBackground</prop>
						<prop key="kaptcha.background.imagePath">${webapp.root}/${captcha.background_image_path}
						</prop>
					</props>
				</constructor-arg>
			</bean>
		</property>
	</bean>

	<bean id="captchaFilter" class="net.shopxx.captcha.CaptchaFilter"
		scope="prototype" />

	<task:executor id="taskExecutor" pool-size="${task.pool_size}"
		queue-capacity="${task.queue_capacity}" />

	<task:annotation-driven executor="taskExecutor" />

	<bean id="timingAspect" class="org.perf4j.log4j.aop.TimingAspect" />

</beans>